@{
    ViewData["Title"] = "ForgotPasswordConfirmation";
}

<div class="end-checkout checkout-form">
    <div class="icon"></div>
    <h3 class="title-checkend">
        We have sent an link to your email address to reset your password
    </h3>
    <a asp-action="signin" class="button btn-return">Return login</a>
</div>

