@{
    ViewData["Title"] = "ResetPasswordConfirmation";
}

<div class="end-checkout checkout-form">
    <div class="icon"></div>
    <h3 class="title-checkend">
        Your password has succesfully changed
    </h3>
    <a asp-action="signin" class="button btn-return">Return login</a>
</div>

