@model LoginFormModel

@{
    ViewData["Title"] = "Signin";
}

<div class="main-content main-content-login">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-trail breadcrumbs">
                    <ul class="trail-items breadcrumb">
                        <li class="trail-item trail-begin">
                            <a asp-action="index" asp-controller="home">Home</a>
                        </li>
                        <li class="trail-item trail-end active">Sign in to your account</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="content-area col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="site-main">
                    <h3 class="custom_blog_title">Sign in to your account</h3>
                    <div class="customer_login">
                        <div class="row">


                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="login-item">
                                    <h5 class="title-login">Login your Account</h5>
                                    <form method="post" class="login">

                                        @if (!string.IsNullOrWhiteSpace(ViewBag.Message))
                                        {
                                            <p class="form-row form-row-wide alert alert-danger text-white">
                                                @ViewBag.Message
                                            </p>
                                        }
                                        <p class="form-row form-row-wide">
                                            <label class="text">Email or username</label>
                                            <input title="username"
                                                   asp-for="UserName"
                                                   class="input-text" />
                                        </p>
                                        <p class="form-row form-row-wide">
                                            <label class="text">Password</label>
                                            <input title="password"
                                                   asp-for="Password"
                                                   class="input-text" />
                                        </p>
                                        <p class="lost_password">
                                            <span class="inline">
                                                <input type="checkbox" id="cb1" />
                                                <label for="cb1" class="label-text">Remember me</label>
                                            </span>
                                            <a asp-action="forgotpassword" class="forgot-pw">Forgot password?</a>
                                        </p>
                                        <p class="form-row">
                                            <input type="submit"
                                                   class="button-submit"
                                                   value="login" />
                                        </p>
                                    </form>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



