.header-banner.banner-image {
  .banner-wrap {
    background-image: url(../images/about-background.jpg) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    position: relative;
    &::after {
      display: table;
      content: "";
      clear: both;
    }
    &::before {
      display: table;
      content: "";
    }
    .content-inner {
      padding-top: 65px;
      padding-bottom: 65px;
      float: right;
    }
  }
}
.header-banner {
  .title {
    font-size: 34px;
    line-height: 1.2;
    text-align: left;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 15px;
  }
  .sub-title {
    font-size: 16px;
    text-align: left;
    margin-bottom: 35px;
  }
  .button {
    color: #000;
    background-color: transparent;
    border-color: transparent;
    height: 43px;
    line-height: 39px;
    padding: 0;
    border-radius: 0;
    position: relative;
    overflow: hidden;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      border-bottom: 2px solid;
    }
    &:hover {
      &::before {
        -webkit-animation: underline-link 0.8s cubic-bezier(0.58, 0.3, 0.005, 1)
          0s 1;
        animation: underline-link 0.8s cubic-bezier(0.58, 0.3, 0.005, 1) 0s 1;
      }
    }
  }
  .stelina-button.button {
    background-color: transparent;
    border-color: transparent;
    color: #000;
    margin-top: 0;
  }
}

.stelina-iconbox.layout1 {
  margin-top: 63px;
  .icon-item {
    position: relative;
    margin-bottom: 15px;
    color: #0a0a0a;
    .placeholder-text {
      font-size: 90px;
      color: #555;
      opacity: 0.1;
      line-height: 1;
      display: block;
      font-weight: 500;
      display: none;
    }
    .icon {
      left: 3px;
      font-size: 60px;
      bottom: 20px;
      color: #ab8e66;
    }
  }
  .content {
    .title {
      color: #222;
      margin-bottom: 8px;
    }
  }
  .iconbox-inner {
    .content {
      .text {
        color: #888;
      }
    }
  }
}
.stelina-iconbox {
  .content {
    .title {
      font-size: 15px;
      text-transform: uppercase;
      font-weight: 600;
      font-family: "Jost";
    }
  }
}
.team-member {
  .border-custom {
    margin-top: 75px;
  }
  .custom_blog_title {
    margin-top: 65px;
    margin-bottom: 50px;
    text-transform: capitalize;
  }
}
.custom_blog_title.center {
  text-align: center;
}
.stelina-team-member {
  text-align: center;
  padding: 0 15px;
  .member_avatar {
    img {
      margin: 0 auto;
      border-radius: 50%;
    }
  }
  .member_name {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: "Jost";
    color: #222;
    margin-top: 20px;
    margin-bottom: 3px;
  }
}
.team-member-slider.nav-center {
  .slick-arrow {
    top: calc(50% - 50px);
    transform: none;
    opacity: 0;
    visibility: hidden;
  }
}
.team-member-slider {
  &:hover {
    .slick-arrow {
      opacity: 1;
      visibility: visible;
    }
  }
}
