.accordion-item {
  .accordion-button {
    background-color: $primary-color !important;
    color: #fff !important;
  }
}

.question.container {
  font-family: "Jost";
  margin-top: 70px;
  margin-bottom: 70px;
}
