<nav class="pcoded-navbar">
    <div class="pcoded-inner-navbar main-menu">
        <div class="pcoded-navigatio-lavel">İdarəetmə</div>
        <ul class="pcoded-item pcoded-left-item">

            @if (User.HasAccess("admin.dashboard.index"))
            {
                <li>
                    <a asp-controller="dashboard" asp-action="index">
                        <span class="pcoded-micon">
                            <i class="feather icon-home"></i>
                        </span>
                        <span class="pcoded-mtext">Ana səhifə</span>
                    </a>
                </li>
            }

             @if (User.HasAccess("admin.products.index"))
            {
                <li>
                    <a asp-controller="products" asp-action="index">
                        <span class="pcoded-micon">
                            <i class="fa fa-basket-shopping"></i>
                        </span>
                        <span class="pcoded-mtext">Məhsullar</span>
                    </a>
                </li>
            }

             <li class="pcoded-hasmenu" dropdown-icon="style1" subitem-icon="style1">
                <a href="javascript:void(0)">
                    <span class="pcoded-micon"><i class="feather icon-credit-card"></i></span>
                    <span class="pcoded-mtext">Sifariş</span>
                    <span class="pcoded-mcaret"></span>
                </a>
                <ul class="pcoded-submenu">
                    <li>
                        <a asp-controller="orders" asp-action="index">
                            <span class="pcoded-mtext">Gözləyən sifarişlər</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="orders" asp-action="deliveredorders">
                            <span class="pcoded-mtext">Tamamlanmış sifarişlər</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="orders" asp-action="cancelledorders">
                            <span class="pcoded-mtext">Ləğv edilmiş sifarişlər</span>
                        </a>
                    </li>
                </ul>
            </li>

            @if (User.HasAccess("admin.categories.index"))
            {
                <li>
                    <a asp-controller="categories" asp-action="index">
                        <span class="pcoded-micon">
                            <i class="fa fa-sitemap"></i>
                        </span>
                        <span class="pcoded-mtext">Kateqoriyalar</span>
                    </a>
                </li>
            }

             @if (User.HasAccess("admin.brands.index"))
            {
                <li>
                    <a asp-controller="brands" asp-action="index">
                        <span class="pcoded-micon">
                            <i class="fa-sharp fa-solid fa-bookmark"></i>
                        </span>
                        <span class="pcoded-mtext">Brendlər</span>
                    </a>
                </li>
            }


            @if (User.HasAccess("admin.blogposts.index"))
            {
                <li class="pcoded-hasmenu" dropdown-icon="style1" subitem-icon="style1">
                    <a href="javascript:void(0)">
                        <span class="pcoded-micon"><i class="feather icon-inbox"></i></span>
                        <span class="pcoded-mtext">Paylaşımlar</span>
                        <span class="pcoded-mcaret"></span>
                    </a>
                    <ul class="pcoded-submenu">
                        <li>
                            <a asp-controller="blogposts" asp-action="index">
                                <span class="pcoded-mtext">Bloqlar</span>
                            </a>
                        </li>
                        <li>
                            <a asp-controller="blogposts" asp-action="deletedposts">
                                <span class="pcoded-mtext">Silinmiş bloqlar</span>
                            </a>
                        </li>
                    </ul>
                </li>
            }

        </ul>
        <ul class="pcoded-item pcoded-left-item">

            @if (User.HasAccess("admin.contactposts.index"))
            {
                <li>
                    <a asp-controller="ContactPosts" asp-action="index">
                        <span class="pcoded-micon">
                            <i class="feather icon-mail"></i>
                        </span>
                        <span class="pcoded-mtext">Gələn mesajlar</span>
                    </a>
                </li>
            }

            @if (User.HasAccess("admin.contactdetails.index"))
            {
                <li>
                    <a asp-controller="contactdetails" asp-action="index">
                        <span class="pcoded-micon">
                            <i class="fa-regular fa-address-book"></i>
                        </span>
                        <span class="pcoded-mtext">Adminlə əlaqə</span>
                    </a>
                </li>
            }

            @if (User.HasAccess("admin.faqs.index"))
            {
                <li>
                    <a asp-controller="faqs" asp-action="index">
                        <span class="pcoded-micon">
                            <i class="fa-solid fa-question"></i>
                        </span>
                        <span class="pcoded-mtext">Tez-tez soruşulan suallar</span>
                    </a>
                </li>
            }

            @if (User.HasAccess("admin.subscribes.index"))
            {
                <li>
                    <a asp-controller="subscribes" asp-action="index">
                        <span class="pcoded-micon">
                            <i class="fa fa-bell"></i>
                        </span>
                        <span class="pcoded-mtext">Abunəliklər</span>
                    </a>
                </li>
            }

            <div class="pcoded-navigatio-lavel">Tənzimləmələr</div>

            @if (User.HasAccess("admin.users.index"))
            {
                <li>
                    <a asp-controller="users" asp-action="index">
                        <span class="pcoded-micon">
                            <i class="fa-solid fa-users"></i>
                        </span>
                        <span class="pcoded-mtext">İstifadəçilər</span>
                    </a>
                </li>
            }


        </ul>

    </div>
</nav>