@model IEnumerable<HomeBackground>

<div class="fullwidth-template">
    <div class="home-slider-banner">
        <div class="container" style="padding: 0;">
            <div class="row10">
                <div class="col-lg-12 silider-wrapp">
                    <div class="home-slider">
                        <div class="slider-owl owl-slick equal-container nav-center"
                             data-slick='{"autoplay":true, "autoplaySpeed":9000, "arrows":false, "dots":true, "infinite":true, "speed":1000, "rows":1}'
                             data-responsive='[{"breakpoint":"2000","settings":{"slidesToShow":1}}]'>

                            @foreach (var item in Model)
                            {
                                <div class="slider-item style7">
                                    <div class="slider-inner equal-element" style="background-image: url('/uploads/images/@item.ImagePath')">
                                        <div class="slider-infor">

                                            <h3 class="title-big">
                                                @item.Text
                                            </h3>
                                            <a asp-action="index" asp-controller="shop" class="button btn-shop-the-look bgroud-style">Shop now</a>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="stelina-tabs default rows-space-40">
        <div class="container">
            <div class="tab-head">
                <ul class="tab-link">
                    <li class="active">
                        <a data-toggle="tab" aria-expanded="true" href="#new_arrivals">
                            New Arrivals
                        </a>
                    </li>
                    <li class="">
                        <a data-toggle="tab" aria-expanded="true" href="#top-rated">Top Rated</a>
                    </li>
                </ul>
            </div>
            <div class="tab-container">
                <div id="new_arrivals" class="tab-panel active">
                    @await Component.InvokeAsync("NewArrivals")
                </div>
                <div id="top-rated" class="tab-panel">
                    @await Component.InvokeAsync("TopRated")
                </div>
            </div>
        </div>
    </div>
    <div class="stelina-iconbox-wrapp default">
        @await Component.InvokeAsync("AboutCompany")
    </div>
    <div class="stelina-blog-wraap default">
        <div class="container">
            <h3 class="custommenu-title-blog">Our Latest News</h3>
            <div class="stelina-blog default">
                @await Component.InvokeAsync("RecentPostsHome")
            </div>
        </div>
    </div>
</div>