<script src="~/lib/sweetalert/sweetalert.min.js"></script>
<script>
     function removeFromBasket(element, name){
        swal(`Are you sure to delete '${name}' from your cart?`, {
          title: "Delete",
          text: `Are you sure to delete '${name}' from your cart?`,
          icon: "warning",
          buttons: true,
          dangerMode: true,
          buttons: ["No", "Yes"]
        })
            .then((value) => {
             if(value == true){
                 const elementData = $(element).data();
                  $.ajax({
                     url: `@Url.Action("RemoveFromBasket", "Shop")`,
                     type: "POST",
                     data: elementData,
                     contentType: "application/x-www-form-urlencoded",
                     success: function(res){
                          console.log(res);

                         if(res.error == false){
                             const removeTarget = $(element).attr('aria-remove-target');
                             if(removeTarget != undefined){
                                 $(removeTarget).remove();
                             }
                             if(res.value?.count == null){
                                 $('.count-cart').text("");
                             }else{
                                 $('.count-cart').text(res.value.count);
                             }
                             if(res.value?.total == null){
                                 $('.total-price').add(".Price-amount").text("");
                             }else{
                                 $('.total-price').add(".Price-amount").text(`${res.value.total}₼`);
                             }
                             $("span.count-cart").filter(function() {
                                return !$.trim(this.innerHTML);
                             }).hide();

                             
                             if(res.value == null){
                                 $('.block-minicart.stelina-mini-cart.block-header.stelina-dropdown').click(function(e) {
                                    if ($(e.target).is('a')) {
                                      e.stopPropagation();
                                    }
                                 });

                                 $(".shopcart-icon").css('content', '');

                                 const noProductDiv = $('<div>').html('There is no product in your cart').addClass("no-product");

                                 $(".actions-basket").append(noProductDiv);

                                 $("#summary").html("0 ₼");
                             }
                             
                             toastr.success(res.message);
                             return;
                         }
                         if(res.error == true){
                             toastr.error(res.message);
                         }
                     },
                     error: function(res, status, xhr){
                         //console.log(res, status, xhr);
                     }
                  });
             }
         });
    }

    function changeQuantity(event, element){
        if($.processId != undefined){
            clearTimeout($.processId);
            $.processId = undefined
        }
        if(element.value < 1){
            //console.log("olmadikii", element.value);
            return false;
        }
        $.processId = setTimeout(function(){
            const elementData = $(element).data();
            elementData.Quantity = element.value;
            $.ajax({
                     url: `@Url.Action("ChangeBasketQuantity", "Shop")`,
                     type: "POST",
                     data: elementData,
                     contentType: "application/x-www-form-urlencoded",
                     success: function(res){
                         console.log(res);
                         $(element).closest('tr').find(".amount").text(`${res.value.total} ₼`);
                         $("#summary").text(`${res.value.summary} ₼`);
                         if(res.error == false){
                             if(res.value?.quantity == null){
                                 $(`.product-number-header-basket-${elementData.productId}`).text("");
                             }else{
                                 $(`.product-number-header-basket-${elementData.productId}`).text(` (x ${res.value.quantity}) `);
                             }
                             if(res.value?.total == null){
                                 $('.total-price').add(".Price-amount").text("");
                             }else{
                                 $('.total-price').add(".Price-amount").text(`${res.value.summary}₼`);
                             }
                             toastr.success(res.message);
                             return;
                         }
                             toastr.error(res.message);
                     },
                     error: function(res, status, xhr){
                         //console.log(res, status, xhr);
                     }
                  });
        }, 700)
    }

    function addToBasket(e){
        e.preventDefault();

        const elementData = $(e.currentTarget).data();
        console.log(elementData, "elementData")

        $.ajax({
            url: `@Url.Action("Basket", "Shop")`,
            type: "POST",
            data: elementData,
            contentType: 'application/x-www-form-urlencoded',
            success: function(res){
                console.log(res);


                if(res.error == false){
                    //$(e.target).closest('tr').remove();

                    $('.add-to-cart').click(function(e) {
                        $(this).addClass('added');
                    });

                    $(".shopcart-icon").append(`<span class='count count-cart'>${res.value.basketInfo.count}</span>`)

                    if(res.value?.basketInfo.count == null){
                        $('.count-cart').text("");
                    }
                    else{
                        $('.count-cart').text(res.value.basketInfo.count);
                    }

                    if(res.value?.basketInfo.total == null){
                        $('.total-price').add(".Price-amount").text("");
                    }else{
                        $('.total-price').add(".Price-amount").text(`${res.value.basketInfo.total}₼`);
                    }

                    var newBasketProduct = `<li class='product-cart mini_cart_item basket-item-${res.value.product.productId}'>
                                                 <a class='product-media' asp-controller='shop' asp-action='details' asp-route-id='${res.value.product.productId}'>
                                                   <img src='/uploads/images/${res.value.product.product.images[0].name}' alt='img' class='mCS_img_loaded'>
                                                 </a>
                                                 <div class='product-details'>
                                                     <h5 class='product-name'>
                                                         <a asp-controller='shop' asp-action='details' asp-route-id='${res.value.product.productId}'>${res.value.product.product.name}</a>
                                                     </h5>
                                                     <span class='product-price'>
                                                         <span class='price'>
                                                             <span>${res.value.product.product.price}₼</span>
                                                         </span>
                                                     </span>
                                                     <span class='product-quantity product-number-header-basket-2'> (x ${res.value.product.quantity}) </span>
                                                     <div class='product-remove'>
                                                         <a onclick='removeFromBasket(this, "${res.value.product.product.name}");return' data-product-id='${res.value.product.productId}' aria-remove-target='.basket-item-${res.value.product.productId}' style='cursor: pointer;'>
                                                             <i class='fa fa-trash-o' aria-hidden='true'></i>
                                                         </a>
                                                     </div>
                                                 </div>
                                            </li>`;

                    $("#mCSB_1_container").append(newBasketProduct);

                    toastr.success(res.message);
                }

                if(res.error == true){
                    toastr.success(res.message);
                }
            },
            error: function(res, status, xhr){
                console.log(res, status, xhr);
            }
        });
    }

    function addToFavorites(productId){
           const favorites =  ($.cookie('favorites') || '').split(',').filter(item => item.length > 0);

           
           if(favorites.filter(item => item == productId).length == 0){
               favorites.push(productId);

           
               $.cookie('favorites', favorites.toString(), { path: '/'});
           }

           
           let isInArray = true;
           
           $.each(favorites, function(index, value) {
             if (value === productId) {
                 isInArray = true;
             }else{
                 isInArray = false;
             }
           });
           
           if (isInArray) {
             $(`.product-item .thumb-group .yith-wcwl-add-to-wishlist-${productId} a`).addClass("full-heart-icon");
             toastr.success("Added to favorites");
           }else{
                $(`.product-item .thumb-group .yith-wcwl-add-to-wishlist-${productId} a`).removeClass("full-heart-icon");
                toastr.success("Product is already in your favorites");
           }

           console.log(favorites);
    }
</script>