
    <div class="header-nav">
        <div class="container-wapper">
            <ul class="stelina-clone-mobile-menu stelina-nav main-menu"
                id="menu-main-menu">
                <li class="menu-item menu-item-has-children">
                    <a asp-action="index" asp-controller="home"
                       class="stelina-menu-item-title"
                       title="Home">Home</a>
                </li>
                <li class="menu-item menu-item-has-children">
                    <a asp-action="index" asp-controller="shop"
                       class="stelina-menu-item-title"
                       title="Shop">Shop</a>
                </li>
                <li class="menu-item menu-item-has-children">
                    <a asp-controller="blog" asp-action="index"
                       class="stelina-menu-item-title"
                       title="Blogs">Blogs</a>
                </li>
                <li class="menu-item">
                    <a asp-action="about" asp-controller="home"
                       class="stelina-menu-item-title"
                       title="About">About </a>
                </li>
                <li class="menu-item">
                    <a asp-action="contact" asp-controller="home"
                       class="stelina-menu-item-title"
                       title="Contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>