<div class="block-search-block">
    <form class="form-search form-search-width-category" asp-action="SearchProducts" asp-controller="Shop" >
        <div class="form-content">
            <div class="inner">
                <input type="search"
                       class="input input-search"
                       name="SearchTerm"
                       value=""
                       placeholder="Search here" 
                       autocomplete="off" />
            </div>
            <ul class="search-results home-two" style="position: absolute; left: 0px; top: 49px; display: none;"></ul>
            <button class="btn-search" value="Search" type="submit">
                <span class="icon-search"></span>
            </button>
        </div>
    </form>
</div>